<div class="container" id="container">
  <h1>employed boots</h1>
  <% @users.each do |user| %>
    <div class="user-box">
      <div class="user-picture">
        <%= image_tag(user.image, :class => "image")%>
      </div>
      <div class="user-name">
         <a href="/users/<%= user.id %>"><%= user.name %></a> 
      </div>
      
        <p class="job-title"><%= user.job_title %></p>
        <p class="job-company"><%= user.company %></p>
      <div class="buttons">
        <a href="<%= user.urls %>"><button class="connect-button">Connect</button></a>
      </div>
    </div>
  <% end  %>
</div>