<%= render '/jobs/form' %>
<%= render '/projects/form' %>
<h1>Profile Page</h1>
<%= @user.username %><br><br>

Testimonial:
<%= @user.testimonial %><br><br>

Previous Titles:<br>
<% if @jobs %>
<% @jobs.each do |job| %>
<%= job.title %><br>
<% end %>
<% end %>

<div class="user-buttons">
  <button class="add-job-button user-button" id="add-job-button" onclick="jobPopUp()">add a job</button>
  <button class="add-project-button user-button" id="add-project-button" onclick="projectPopUp()">add a project</button>
</div>