<div class="container">
  
  <div class="user-info">
      <div class="profile-pic">
        <%= image_tag(@user.image, :class => "user-pic") %>
      </div>
    <p class="username-profile"><%= @user.name %></p><br>

    <div class="user-testimonial">
      <%= @user.description %>
    </div>

    <div class="user-location">
      <i class="fa fa-map-marker location-icon"></i>
      <p class="location"><%= @user.location %></p>
    </div>

    <div class="user-email">
      <i class="fa fa-envelope-o email-icon"></i>
      <p class="email"><%= @user.email %></p>
    </div>
    
    <div class="user-testimonial">
    <br>
      <%= @user.job_title %><br>
      <%= @user.company %><br>
      <%= @user.job_location %><br>
    </div>
    

    <% if @user == current_user %>
      <div class="user-buttons">
        <button class="add-job-button user-button" id="add-job-button" onclick="jobPopUp()">add a job</button>
        <button class="add-project-button user-button" id="add-project-button" onclick="projectPopUp()">add a project</button>
      </div>
    <% end %>
  </div>
  <div class="user-projects-container">
    <%= render '/projects/project_card' %>
  </div>
  <%= render '/jobs/form' %>
  <%= render '/projects/form' %>
</div>