<div class="container" id="container">
    <% @projects.each do |project| %>
      <div class="project-card" onclick="flipCard()">
        <div class="flipper">
          <div class="front">
            <div class="project-image"></div>
            <h2 class="project-title"> <%= project.title %></h2>
          </div>
          <div class="back">
            <p class="project-description"><%= project.description %></p>
            <a class="project-url" href="<%= project.url %>"><%= project.url %></a>
            <p class="delete-link"><%= link_to "Delete", project_path(project), method: :delete %></p>
<!--            This line of code will enable you to view project images <%= image_tag project.image.url(:medium) %> -->
          </div>
        </div>
      </div>
    <% end  %>
</div>