<% @companies.each do |company| %>
  <div class="company-card" onclick="flipCard()">
    <div class="flipper">
      <div class="front">
        <div class="company-image"></div>
        <h2 class="company-name-front"><%= company.name %></h2>
      </div>
      <div class="back">
        <h2 class="company-name"><%= company.name %></h2>
        <h3 id="employees-title">Boots working here</h2>
          <% company.users.each do |employee| %>
            <p class="employee-name"><%= employee.username %></p>
          <% end %>
        <p><%= link_to "Edit Company", edit_company_path(company)%></p>
        <p><%= link_to 'Delete Posting', company_path(company), remote: true, method: :delete %></p>
      </div>
    </div>
  </div>
<% end %>