<div class="login-popup" id="login-popup">
  <div class="form-container">
    <div class="x">
      <a href="javascript:void(0)" class="logx" onclick="closeLogin()">&times;</a>
    </div>
      <div class="oauth-login">
      <i class="fa fa-linkedin-square" aria-hidden="true"></i>
      <%= render "devise/shared/links" %>
      </div>
      <h2>or</h2>
        
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= f.email_field :email, autofocus: true, placeholder: "email", :class => 'input-field'  %>

        <%= f.password_field :password, autocomplete: "off", placeholder:"password", :class => 'input-field' %>

        <%= f.submit "Log in", :class => 'form-submit-button' %>
      <% end %>

    </div>
  </div>
