<!DOCTYPE html>
<html>
  <head>
    <title>BootsOnTheGround</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', "https://fonts.googleapis.com/css?family=Raleway|Satisfy|Material+Icons" %>
    <%= stylesheet_link_tag 'application', "https://fonts.googleapis.com/css?family=Raleway|Satisfy|Source+Sans+Pro:300,400,900" %>
  </head>

  <body>
  <% if !@no_header %>
    <%= render partial: '/layouts/header' %>
    <%= render partial: '/layouts/sidenav' %>
  <% end %>
    <%= yield %>
  </body>
</html>
